@charset "UTF-8";

:root{
	--mainColour:#fff;
	--secondColour:#D8ECFD;
	--mainText:#000;
	--secondText:#4b5156;
	--linkHover:#5FADFC;
	--btnHover:#979DAC;
}

/* text styles */

body {
	background-color: var(--mainColour);
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

h1, h3, h4, h5, h6, strong{
	color: var(--mainText);
}

h1 { font-size: 50px;}
h2 { font-size: 36px; text-align: center; }
h3 { font-size: 32px; line-height: normal;}
h4 { font-size: 23px; font-weight: 400; margin-right: 20px;}
h5 { font-size: 24px; font-weight: 400; text-align: center; margin: 0 auto; padding: auto auto;}
h6 { font-size: 18px; font-weight: 300; text-align: center; margin: 0 auto; padding: auto auto;}

p, li, span, label, input, textarea{
	color: var(--secondText);
}

a{
	text-decoration: none;
	color: var(--linkHover);
}

ul{
	list-style: none;
}

/* sections */

/* all pages */

.s1{
	background-color: var(--mainColour);
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.header{
	padding: 4px;
  text-align: center;
  background-color: var(--mainColour);
}

.heading-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
text-align: center;
}

.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 99%;
}

/*not in use yet: .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--barColour);
  color: white;
  text-align: center;
} */

/* navigation */

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 4px 30px;
  font-size: 24px;
}
logo a{
	text-decoration: none;
	color: var(--mainText);
}
logo a:hover{
	text-decoration: none;
	color: var(--btnHover);
}

.nav-links{
	display:flex;
	justify-content: space-around;
	width: 35%;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: var(--mainText);
	text-decoration: none;
	font-size: 18px;
}
.nav-links a:hover{
	color: var(--btnHover);
}

/* index */

.textpic{
  position: relative;
  text-align: center;
	color: black;
}

.indextext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
	color: black;
	line-height: 120px;
}

#indexpic{
	width: 1104px;
	height: 460px;
}

/* contact page */

.socialmedia-wrapper{
	display: grid;
	width: 200px;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 1em;
	margin: 0 auto; /* <- center icons */
}

	#socials{
		height:50px;
		width: 50px;
	}

/* about page */

.about-text{
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 40px;
	width: 80%;
}

.about-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 200px;
	padding-right: 20px;
}

#profilepic{
	height:420px;
	width:0.85784658691063*420px;
}

/* portfolio top page */

.portfolio-wrapper{
	background-color: var(--mainColour);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.item-wrapper{
	line-height: 15px;
	flex-grow: 1;
	min-width: 200px;
	margin: 25px;
	margin-bottom: 30px;
} /* also used for project pages */

#portfoliopic{
	height:300px;
	width: 300px;
	padding-bottom: 10px;
}

/* project pages */

.project-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 150px;
	padding-right: 150px;
}

.fullgallery-wrapper{
	background-color: var(--mainColour);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}

.project-text{
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.logline{
	width: 500px;
	margin: 0 auto;
}

.gallery-wrapper{
	display: flex;
	line-height: 15px;
	min-width: 150px;
	justify-content: center;
	margin: 10px;
	margin-bottom: 10px;
}

#projectpic{
	height:300px;
	width:300px;
}

	#arrows{
		height:20px;
		width:20px;
	}

#gallerypic{
	height: 250px;
	width:auto;
}

/* not sure if my @media is currently doing anything */

@media (max-width: 1200px) {

	body {
			overflow-x: hidden;
		}

	.main-container{
			width: 95%;
		}

		.nav-links li{
			opacity: 100;
		}

}

/* not in use anymore:

.project-heading-wrapper{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 10fr 1fr;
	line-height: 80%;
	min-height: 4em;
}

.justifycenter{
display: block;
margin-top: auto;
margin-bottom: auto;
width: 99%;
}

*/

/* navigation dropdown - not in use right now

.dropbutton {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--mainColour);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--mainText);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: var(--mainText); background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbutton {color: var(--btnHover);} */


/* slides - not currently in use


.slider {
  width: 1000px;
  text-align: center;
  overflow: hidden;
	margin: 0 auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: var(--btnHover);
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;

  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

#sliderpic{
	width: 1000px;
	height: auto;
}

*/
